<!DOCTYPE html> 
<html> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
<title>Location Analysis Report: {{ deployment.name }}</title> 
<link rel="stylesheet" href="{{ MEDIA_URL }}blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="{{ MEDIA_URL }}blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="{{ MEDIA_URL }}blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
<script type="text/javascript"> 
function initialize() {
 
  var map = new google.maps.Map(document.getElementById("map_canvas"), {
    zoom: 8,
    center: new google.maps.LatLng({{ clusters.0.centre }}),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  
  var markers = []
  
  {% for cluster in clusters %}
    var marker_{{ forloop.counter }} = new google.maps.Marker({
        position: new google.maps.LatLng({{ cluster.centre }}),
        map: map,
        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld={{ forloop.counter }}|FF{{ cluster.heat }}{{ cluster.heat }}|000000'
    })
    jQuery(function(){
        jQuery('#cluster-{{ forloop.counter }}').click(function(){
            map.setCenter(new google.maps.LatLng({{ cluster.centre }}))
            map.setZoom(14)
            for (i in markers)
            {
                markers[i].setZIndex(0)
            }
            marker_{{ forloop.counter }}.setZIndex(10)
        })
    })
    markers.push(marker_{{ forloop.counter }})
  {% endfor %}
  
  {% for line in lines %}
    new google.maps.Polyline({
	strokeOpacity: 0.5,
        path: [
            {% for point in line %}
                new google.maps.LatLng({{ point }}),
            {% endfor %}
        ],
        map: map
    })
  {% endfor %}
}
</script> 
</head> 
<body onload="initialize()">
    <div class="container">
        <div class="span-18">
            <h1>Location Analysis Report: {{ deployment.name }}</h1>
        </div>
        <div class="span-6 last">
          <form method="get" action="{{ request.path }}">
            <select name="date">
              <option>All</option>
              {% for date in dates %}
                <option value="{{ date|date:'Y-m-d' }}"{% if date == view_date %} selected="selected"{% endif %}>{{ date|date:'jS F Y' }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Go" />
          </form>
        </div>
        <div id="map_canvas" class="span-12" style="height: 600px;"></div>
        <div class="span-12 last">
            <table>
                <thead>
                    <tr>
                        <th>Point ID</th>
                        <th>From<br/>To</th>
                        <th>Duration</th>
                        <th>Guessed Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cluster in clusters %}
                        <tr id="cluster-{{ forloop.counter }}">
                            <td>{{ forloop.counter }}</td>
                            
                              <td>{% ifequal cluster.youngest|date:"dMY" cluster.eldest|date:"dMY" %}
                                {# 1. If start and end time are on the same day #}
                                {# Date - Month #}
                                {{ cluster.youngest|date:"j M"}}
                                {# Only show year if start date is not in this year #}
                                 {% ifnotequal cluster.youngest|date:"Y" now|date:"Y"%}
                                   {{ cluster.youngest|date:"Y"}}
                                 {% endifnotequal %}
                          
                                {# Day - Time #}
                          
                                {% ifequal cluster.youngest|date:"A" cluster.eldest|date:"A"  %}
                                    {# If start and end times are both am or pm #}
                                    {{ cluster.youngest|date:"g:i"|lower }}-{{ cluster.eldest|date:"g:iA"|lower }}
                                    {% else %}
                                    {{ cluster.youngest|date:"g:iA"|lower }}-{{ cluster.eldest|date:"g:iA"|lower }}
                                {% endifequal %}
                                {# 1. END #}
                          
                              {% else %}
                                {# Handle the rare occurence that tutorials start and end on different days #}
                                  {% ifequal cluster.youngest|date:"Y" cluster.eldest|date:"Y" %}
                                      {% ifequal cluster.youngest|date:"Y" now|date:"Y" %}
                                      {# Event starts this year and finishes this year %}
                                          {{ cluster.youngest|date:"j M" }}, {{ cluster.youngest|date:"g:iA"|lower}}-
                                          <br />{{ cluster.eldest|date:"j M" }}, {{ cluster.eldest|date:"g:iA"|lower}}
                                      {% else %}
                                      {# Event starts in a different year but finishes in that year too #}
                                          {{ cluster.youngest|date:"j M y" }}, {{ cluster.youngest|date:"g:iA"|lower}}-
                                          <br />{{ cluster.eldest|date:"j M y" }}, {{ cluster.eldest|date:"g:iA"|lower}}
                                      {% endifequal %}
                                  {% else %}
                                      {{ cluster.youngest|date:"j M y" }}, {{ cluster.youngest|date:"g:iA"|lower}}-
                                      <br />{{ cluster.eldest|date:"j M y" }}, {{ cluster.eldest|date:"g:iA"|lower}}
                                  {% endifequal %}
                              {% endifequal %}</td>
                            <td>{{ cluster.duration }}</td>
                            <td>{{ cluster.geocoded }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body> 
</html> 
